<%- include('layout/header') %>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <h1 class="display-3">Bienvenu sur le site de l'EPOKA</h1>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque tenetur, dolorum itaque iste facilis earum molestias temporibus eaque, libero dolores sequi dignissimos voluptatibus recusandae, vel odit totam unde illo. Distinctio.</p>
 
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/footer') %>