<%- include('layout/header') %>

    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <p class="h1">Connexion</p>
                    <form class="mt-3" action="/connexion" method="POST">
                        <div class="form-group">
                            <label for="identification">N° d'identification</label>
                            <input type="text" class="form-control form-control-lg" id="identification" name="identification"
                                placeholder="N° d'identification" required>
                        </div>
                        <div class="form-group">
                            <label for="motdepasse">Mot de passe</label>
                            <input type="password" class="form-control form-control-lg" id="motdepasse" name="motdepasse"
                                placeholder="Mot de passe" required>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn-block btn btn-primary btn-lg">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/footer') %>