<div class="container-fluid alert alert-success" role="alert">
    <div class="container">
        This is a danger alert—check it out!
    </div>
</div>
<div class="container-fluid alert alert-danger" role="alert">
    <div class="container">
        Mauvais n° d'identification ou mot de passe
    </div>
</div>
