<% if (typeof erreur !='undefined' && erreur !='' ) { %>
    <div class="container-fluid alert alert-danger" role="alert">
        <div class="container">
            <strong>Erreur : </strong>
            <%= erreur %>
        </div>
    </div>
<% } %>

<% if (typeof valid !='undefined' && valid !='' ) { %>
    <div class="container-fluid alert alert-success" role="alert">
        <div class="container">
            <strong>Succès : </strong>
            <%= valid %>
        </div>
    </div>
<% } %>