<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; Copyright EPOKA 2022</span>
  </div>
</footer>

<!-- jQuery + Bootstrap -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/script.js"></script>
</body>

</html>