<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico">
  <title>EPOKA - <%= titre %>
  </title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand" href="/">EPOKA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if (typeof user_info !='undefined' && user_info !='' ) { %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/missions">Validation des missions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/remboursement">Remboursement des missions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/distances">Les distances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/params">Les paramètres</a>
            </li>
          </ul>
          <% } %>
            <ul class="navbar-nav ml-auto">
              <% if (typeof user_info !='undefined' && user_info !='' ) { %>
                <!-- compte -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user_info.sal_nom %>
                      <%= user_info.sal_prenom %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/compte">Mon compte</a>
                    <a class="dropdown-item" href="/deconnexion">Déconnexion</a>
                  </div>
                </li>
                <% } else { %>
                  <!-- connexion -->
                  <li class="nav-item">
                    <a class="nav-link" href="/connexion">Connexion</a>
                  </li>
                  <% } %>
            </ul>
      </div>

    </div>
  </nav>

  <%- include('alert') %>